body {
    background: #0F1A36; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #0F1A36, #0F1A36);
    background: -moz-linear-gradient(right, #0F1A36, #0F1A36);
    background: -o-linear-gradient(right, #0F1A36, #0F1A36);
    background: linear-gradient(to left, #0F1A36, #0F1A36);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
.form {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}
.unit {
z-index: 1;
background: #FFFFFF;
max-width: 600px;
margin: 0 auto 150px;
padding: 90px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.title{
    font-style: oblique;
    text-align: center;
    color:white;
}
body { padding-top: 70px; }
.card{
    margin: 0 auto;
}
.url-add, .url-add:active, .url-add:focus, .url-add:hover{
    font-weight:bold;
    text-decoration: none;
    color: black;
  }
.contenedor {
/*Estilos estándar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    overflow:auto;
    max-width: 1000px;
    max-height: 500px;
    margin: 0 auto;
}
.table{
    background: #FFFFFF;
    /* border-radius: 5px; */
}