<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error al verificar</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <br>
    <br>
    <div class="container">
        <div class="card border-dark mb-6" style="max-width: 30rem;">
            <div class="card-header" >Error al verificar</div>
            <div class="card-body text-dark">
                {% if data %}
                <h5 class="card-title">{{ data }}</h5>
                {% endif %}
                <button type="button" class="btn btn-danger" onclick="window.close();">Cerrar</button>
            </div>
        </div>
    </div>
</body>
</html>